.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    overflow: auto;
}

.ui.button {
    width: 18rem;
    height: 8rem;
    font-size: 2rem;

    display: flex;
    align-items:center;
    justify-content: center;
    flex-shrink: 0 !important;
    padding: 0;

    background-color: rgb(141, 195, 141);
    border-radius: 0 !important;
    border-bottom: 13px solid rgba(99, 99, 99, 0.366);
    transition: border-bottom 0.3s;

}

#click_me,
#auto_click {
    display: none;
    margin-bottom: 4rem;
}

@keyframes bounding {
    0% {
        border-bottom: 13px solid rgba(99, 99, 99, 0.366);
    }
    50% {
        border-bottom: 7.5px solid rgba(99, 99, 99, 0.366);
    }
}

.animated {
    animation: bounding 130ms ease-in 0s infinite;
}

.ui.button:hover {
    /* transform: scale(1.2); */
    /* box-shadow: 0px -7px 9px 4px rgba(76, 76, 76, 0.581) inset; */
    background-color: rgb(141, 195, 141);
}
.ui.button:active {
    border-bottom: 7.5px solid rgba(99, 99, 99, 0.366);
}

.participants {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.player {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

#chronometre {
    color: black;
    font-size: 2rem;
    margin-top: 4rem;
}

